body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f8c092;
}

/* weather header */
.header {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #000;
}
.header i {
  font-size: 5em;
}

/* search form */

form {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
form input {
  font-size: 1.5em;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  background-color: transparent;
}
form button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* for error message */

.errorMag {
  color: #f34047;
}

/* mani for display all content */
.container {
  padding: 20px;
  width: 800px;
  margin-top: 30px;
  border-radius: 18px;
  background-image: url(https://cdn.pixabay.com/photo/2022/05/23/11/26/tree-7215935_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 8px 8px 19px rgb(36, 35, 35);
}

.container .mainHeader {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
}
.container .mainHeader .mainHeader-icon {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  margin-right: 20px;
  color: black;
}

.container .report {
  color: white;
  line-height: 0.8em;
}

.weather-report {
  font-size: 5em;
}
.report-description {
  font-weight: 800;
  font-size: 1.5em;
}
.changeBtn {
  background: transparent;
  cursor: pointer;
  border: none;
  font-weight: 800;
  color: white;
  margin: 0;
  padding: 0;
}

/* for other content like visibility  */

.container .content {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.content .sub-content {
  text-align: center;
  padding: 8px 20px;
  border-radius: 10px;
  line-height: 0;
}
.content .sub3 {
  background-color: #128b76;
}
.content .sub2 {
  background-color: #2ce3c4;
}
.content .sub1 {
  background-color: #8ef0df;
}

/* for mobile view  */

@media only screen and (max-device-width: 768px) {
  body {
    overflow: auto;
  }
  .container {
    max-width: 80%;
    height: auto;
    margin: 0;
  }
  .container .content {
    flex-direction: column;
  }
  .container .report {
    overflow: hidden;
  }
  .content .sub-content {
    margin-bottom: 10px;
  }
}
